[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/zsh-completions"]
	path = .config/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/zsh/gitstatus"]
	path = .config/zsh/gitstatus
	url = https://github.com/romkatv/gitstatus.git
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/fzf"]
	path = .config/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
