.cache
.config/bashtop/error.log
.config/nvim/plugin/packer_compiled.lua
.config/zsh/gitstatus
.dotbare
.dotfiles
.gradle
.histfile
.landscape
.lesshst
.local/share
.sdkman
.ssh
.zcompdump
.config/nvim/lazy-lock.json
.config/lazygit/state.yml
