[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/zsh-completions"]
	path = .config/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
